<!DOCTYPE html>
<html>

<head>
  <title>Bambby ChatBot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="/css/original.css">
  <style id="darkModeStyle" disable>
    /* CSS Styles */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #111111;
      color: #ffffff;
    }

    .sidebar-container {
      display: flex;
      height: calc(100vh - 50px);
      min-width: 300px;
      width: 300px;
      transition: transform 0.3s ease-in-out;
    }

    .chat-container {
      height: calc(100vh - 50px);
      width: 100%;
      margin: 0 auto;
      display: flex;
    }

    .sidebar {
      width: inherit;
      background-color: #075e54;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }


    .sidebar-container.collapsed {
      transform: translateX(-300px);
      min-width: 0px;
      width: 0px !important;
    }

    .sidebar-header {
      padding: 10px;
      background-color: #25d366;
      color: #ffffff;
      text-align: left;
      height: 50px;
    }

    .sidebar-content {
      width: 100%;
      box-sizing: border-box;
      transition: width 0.3s ease-in-out;
      background-color: #333333;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .collapse-button {
      position: absolute;
      left: 0px;
      top: 58px;
      flex-shrink: 0;
      background-color: #25d366;
      color: #fff;
      z-index: 5;
    }



    .new-chat-button {
      width: calc(100% - 20px);
      padding: 8px 15px;
      margin: 10px;
      background-color: #25d366;
      color: #ffffff;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      box-sizing: border-box;
      flex: 1;
      margin-right: 10px;
    }

    .sidebar-content .new-chat-button:hover {
      background-color: #128c7e;
    }

    .sidebar-footer {
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #075e54;
      text-align: center;
      font-size: 12px;
      color: #dbdbdb;
      height: 60px;
      position: sticky;
      bottom: 0;
    }

    .chat-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background-color: #111111;
    }

    .chat-header {
      padding: 10px;
      background-color: #075e54;
      color: #ffffff;
      text-align: center;
      height: 50px;
      min-height: 50px;
      position: relative;
      text-align: left;
    }

    .toggle-button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      color: #ffffff;
      font-size: 1.2rem;
    }

    .toggle-button:hover {
      color: #cccccc;
    }

    .chat-messages {
      flex-grow: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    .message {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 25px;
    }

    .incoming-message .message-content {
      background-color: #454545;
      align-self: flex-start;
      color: #e3e3e3;
    }

    .default-background {
      width: 200px;
      height: 200px;
      background-color: #666666;
      position: relative;
    }

    .image-preview {
      max-width: 200px;
      max-height: 200px;
    }

    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
    }

    .image-overlay:hover {
      opacity: 1;
    }

    .image-overlay i {
      color: #ffffff;
      font-size: 24px;
    }

    .audio-player {
      width: 200px;
    }

    .audio-controls {
      display: flex;
      align-items: center;
    }

    .play-button {
      background-color: #075e54;
      color: #ffffff;
      border: none;
      border-radius: 50%;
      min-width: 40px;
      min-height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease-in-out;
    }

    .play-button:hover {
      background-color: #128c7e;
    }

    .progress-bar {
      width: 100%;
      height: 4px;
      background-color: #333333;
      margin: 0 10px;
      cursor: pointer;
      position: relative;
    }

    .progress {
      height: 100%;
      background-color: #075e54;
      width: 0;
    }

    .current-time,
    .duration .outgoing-message {
      font-size: 12px;
      color: #3e3e3e;
    }

    .current-time,
    .duration .incoming-message {
      font-size: 12px;
      color: #e3e3e3;
    }

    .outgoing-message .message-content {
      background-color: #ccffcc;
      align-self: flex-end;
      color: #3e3e3e;
    }

    .text-content {
      margin-top: 5px;
    }

    .timestamp {
      color: #777777;
      font-size: 0.8em;
      margin-left: 5px;
    }

    .message-content {
      padding: 10px;
      border-radius: 5px;
      max-width: 80%;
      word-wrap: break-word;
    }

    .input-container {
      padding: 10px;
      display: flex;
      align-items: center;
      background-color: #222222;
    }

    .input-container textarea {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 20px;
      outline: none;
      background-color: #333333;
      resize: none;
      color: #ffffff;
    }

    .input-container input[type="submit"] {
      padding: 8px 15px;
      background-color: #075e54;
      color: #ffffff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      margin-left: 10px;
    }

    .input-container .emoji-button {
      font-size: 1.8rem;
      color: #888888;
      cursor: pointer;
      padding: 5px;
      margin-right: 5px;
      transition: color 0.3s ease-in-out;
    }

    .input-container .emoji-button:hover {
      color: #cccccc;
    }

    .previous-chats {
      padding: 10px;
      background-color: #222222;
      margin-top: auto;
      flex-grow: 1;
      overflow-y: auto;
    }

    .previous-chats-title {
      font-weight: bold;
      margin-bottom: 10px;
      color: #ffffff;
    }

    .previous-chats-list {
      list-style-type: none;
      padding: 0;
    }

    .previous-chats-list li {
      margin-bottom: 5px;
    }

    .chat-button {
      display: block;
      width: 100%;
      padding: 5px 10px;
      background-color: #333333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #ffffff;
    }

    .chat-button:hover {
      background-color: #444444;
    }

    .chat-button.on {
      background-color: #444444;
    }

    .rounded-icon {
      border-radius: 50%;
      background-color: #075e54;
      color: #ffffff;
      padding: 8px;
      margin-left: 10px;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .rounded-icon:hover {
      background-color: #128c7e;
    }

    .rounded-icon:active {
      background-color: #953b01;
    }

    .sidebar-content {
      padding: 10px;
      border-bottom: 1px solid #555555;
    }

    .collapse-button {
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      padding: 8px;
      margin: 10px;
      transition: background-color 0.3s ease-in-out;
    }

    .collapse-button:hover {
      background-color: #cccccc;
    }

    .collapse-button i {
      color: #888888;
      font-size: 1.2rem;
    }

    .emoji-container {
      width: 100%;
      background-color: #333333;
      max-height: 200px;
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease;
      visibility: hidden;
      opacity: 0;
    }

    .emoji-container.open {
      min-height: 200px;
      max-height: 200px;
      overflow-y: auto;
      visibility: visible;
      display: block;
      opacity: 1;
    }

    .emoji-grid {
      display: grid;
      margin: 10px;
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
      gap: 20px;
    }

    .emoji {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    .emoji:hover {
      background-color: #cccccc;
    }
  </style>
</head>

<body>
  <button id="collapse-button" class="collapse-button">
    <i class="fas fa-chevron-left"></i>
  </button>
  <div class="chat-header">
    <h1>bambby</h1>
    <i type="button" id="modeBtn" class="fas fa-adjust toggle-button"></i>
  </div>
  <div class="chat-container">
    <div class="sidebar-container">
      <div class="sidebar">
        <div class="sidebar-content">
          <button class="new-chat-button">Start a New Chat</button>
          <!-- <div class="buttons-container">
          </div> -->
        </div>

        <div class="previous-chats">
          <ul class="previous-chats-list">
            <li><button class="chat-button" id="marketplace">Marketplace</button></li>
            <li><button class="chat-button" id="medicals">Medicals</button></li>
            <li><button class="chat-button" id="games">Games</button></li>
          </ul>
        </div>

        <div class="sidebar-footer">
          <p>&copy; 2023 Bambby inc. All rights reserved. Powered by bambby</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/script.js"></script>

</body>

</html>